{
    "tabWidth": 4,
    "overrides": [
        {
            "files": ["*.js", "*.jsx"],
            "options": {
                "tabWidth": 2,
                "trailingComma": "all",
                "singleQuote": true,
                "printWidth": 80
            }
        },
        {
            "files": ["package.json"],
            "options": {
                "tabWidth": 2,
                "trailingComma": "none",
                "useTabs": false
            }
        }
    ]
}
