// ----------------------------------------------------------------------------
// This file contains all the styles for Typography base
// ----------------------------------------------------------------------------

body {
    font-family: $font-family-body;
    color: $color-text-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-title;
    font-weight: $font-weight-medium;
}

p {
    font-weight: normal;
}
