// ----------------------------------------------------------------------------
// This file contains all the fonts that used in the CSS
// ----------------------------------------------------------------------------

@font-face {
    font-family: "is-font-work?";
    src: url("../../public/fonts/Poppins/Poppins-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "is-font-work?";
    src: url("../../public/fonts/Poppins/Poppins-ExtraBold.ttf");
    font-weight: 800;
}
