// ----------------------------------------------------------------------------
// This file contains all the variable accross styles
// ----------------------------------------------------------------------------

// Colors
// ----------------------------------------------------------------------------
$color-black: #000;
$color-white: #fff;
$color-text-dark: $color-black;
$color-text-light: #f5f5f5;
$color-text-light--body: rgba($color-text-light, 0.8);

// Font Family
// ----------------------------------------------------------------------------
$font-family-title: "is-font-work?", sans-serif;
$font-family-body: "is-font-work?", sans-serif;

// Font Weight
// ----------------------------------------------------------------------------
$font-weight-base: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
